/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

   html {
    background: url('https://d13yacurqjgara.cloudfront.net/users/369/screenshots/737952/lumberjack.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  nav {
    display: flex;
     height: 80px;
     top: 0;
     align-items: center;
     flex-direction: row;
     justify-content: flex-end;
     background-color: #2E2E2E;
  }

  body {
    font-family: 'Abel', sans-serif;

    background-size: cover;
  }
  img{
    width: 400px;
    height: 400px;
    background-image: none;
  }
  .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: signpainter;
    padding-left: 100px
  }

  .nav-link{
    display: flex;
    flex-direction: row;
    color: antiquewhite;
    padding-right: 5px;
    justify-content: center;
    margin-right: auto;
    text-decoration: none;
  }
  .nav-group{
    text-decoration: none;
    display: block;
    color: white;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
  }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   margin-left: 20px;
 }

 .login-form-box {
  padding: 20px;
  color: aliceblue;
 }


  .login-signup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .signup {
    padding: 8px 20px 8px 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: limegreen;
    text-decoration: none;
  }
  .login {
    padding: 8px 20px 8px 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  .logout {
    padding: 8px 20px 8px 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: none;
    background: none;

  }
