/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  /** {
   box-sizing: border-box;
  }*/
  html {
    /*background: url('http://res.cloudinary.com/drql6e2wm/image/upload/v1473119700/photo-1449674836064-31362349a0fe_wn7bms.jpg') no-repeat center center fixed;
    background-size: cover;*/
  }

  nav {
    display: flex;
    height: 80px;
    top: 0;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    visibility: visible;
    letter-spacing: .1em;
  }
  .react-draggable, .cursor {
     cursor: move;
   }
   .no-cursor {
     cursor: auto;
   }
   .cursor-y {
     cursor: ns-resize;
   }
   .cursor-x {
     cursor: ew-resize;
   }
   .app{
     background: url('http://res.cloudinary.com/drql6e2wm/image/upload/v1473119700/photo-1449674836064-31362349a0fe_wn7bms.jpg') no-repeat center center fixed;
     background-size: cover;
   }
   .react-draggable strong {
     background: #ddd;
     border: 1px solid #999;
     border-radius: 3px;
     display: block;
     margin-bottom: 10px;
     padding: 3px 5px;
     text-align: center;
   }
   .box {
     box-sizing: border-box;
     background: #fff;
     border-radius: 3px;
     width: 180px;
     height: 180px;
     margin: 10px;
     padding: 10px;
     float: left;
     background-image: url('http://res.cloudinary.com/drql6e2wm/image/upload/v1473049176/gibseoa6m077y1pxbd0z.png');
     background-size: cover;
   }

   .box .small {

   }


  body {
    min-height: 100%;
    font: 20px/30px Roboto,Helvetica,Arial,sans-serif;
    color: #848484;
    -webkit-font-smoothing: antialiased;
  }
  img{
    width: 400px;
    height: 400px;
    background-image: none;
  }
  .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: signpainter;
    font-size: 35px;
    padding-left: 60px
  }
  .upload-form{
    display: flex;
    flex-direction: column;
    outline: black 1px solid;
    padding: 5px 30px 10px 30px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: none;
    background: rgb(218, 219, 222);
  }

  .material-icons {
      text-rendering: optimizeLegibility;
      -webkit-font-feature-settings: 'liga';
      -moz-font-feature-settings: 'liga';
      font-feature-settings: 'liga';
  }

  .upload-button{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border: none;
    border-radius: 2px;
    height: 55.5px;
    width: 55.5px;
    outline: 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    text-decoration: none;
    background-color: #ff5a40;
    border-radius: 50%;
  }



  .nav-link{
    display: flex;
    flex-direction: row;
    color: antiquewhite;
    padding-right: 5px;
    justify-content: center;
    margin-right: auto;
    text-decoration: none;
  }
  .nav-group{
    text-decoration: none;
    display: block;
    color: white;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
  }

 .login-form-container {
   display: flex;
   justify-content: center;
 }

 .login-form {
   padding: 0.01em 16px;
   margin-top: 16px!important;
   margin-bottom: 16px!important;
   display: flex;
   flex-direction: column;
   color: #444 !important;
   text-decoration: none!important;
 }

 .login-input {
    width: 100%;
 }

 .login-form-box, .photo-form-box  {
   text-align: center;
   color: #444;
 }
 .photo-form-box {
   width: 100%;
   display: flex;
   flex-direction: column;
   text-decoration: none!important;
 }


  .login-signup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px
  }
  .signup, .submit, .photo-form{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #32cd32;
    text-align: center;
    letter-spacing: .5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    text-decoration: none;
  }
  .signup:hover, .submit:hover, .photo-form:hover {
    background-color: #34e034;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
  .photo-index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-button:hover {
    background-color: #fb8375;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
  .demo {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #32cdb0;
    text-align: center;
    letter-spacing: .5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
  }
  .demo:hover, .logout:hover {
    background-color: #2bd4b4;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
  .login:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    opacity: 0.7;
    filter: brightness(100%);
  }
  .login {
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
  }

  .logout {
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    background-color: #32cdb0;
  }


  .new-photo-title {
    text-align: center;
  }
  .button-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  input.photo-field {
    margin: 10px;
    padding: 2px;
  }

  label.photo-field {
    width: 125px;
    display: inline-block;
  }
  .new-photo-button {
    margin: 5px;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .photo-in-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
  /*.photo-form{
    padding: 8px 20px 8px 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
  }*/
